:root {
    --cream: #F8F1E4;
    --chocolate: #50322f;
    --soft-orange: #f5a91d;
}

/* ----------------- GLOBAL CONFIGS -----------------*/

* {
    box-sizing: border-box;
}

h1, h2, h3 {
    margin: 0;
}

button {
    width: 8em;
    height: 2.5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: white;
    background-color: var(--chocolate);
    border: none;
    margin-bottom: 0.5em;
    cursor: pointer;
}

button:hover {
    color: var(--soft-orange);
}

label {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 500;
}

input {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 1.5em auto;
    cursor: pointer;
}

/* ----------------- HTML & BODY -----------------*/

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 33vw;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cream);
}

/* ----------------- HEADER -----------------*/

header {    
    position: fixed;  
    width: 100%;
    display: flex;    
    flex-direction: column;
    text-align: center;
    background-color: var(--chocolate);
    font-size: 4.4vw;
}

header h1 {
    margin: 0.5em auto 0.3em auto;        
    color: var(--soft-orange);
}

header nav {
    display: flex;    
    flex-direction: row;
    text-align: justify;
    margin-bottom: 0.8em;
}

header a {
    font-size: 0.9em;
    font-weight: 500;
    margin: 0.3em auto;
    cursor: pointer;
}

header a:hover {
    color: var(--soft-orange);
}

header a:link, a:visited, a:active, a:root {
    text-decoration: none;
    color: white;        
}

/* ----------------- HERO -----------------*/

#hero {    
    display: flex;    
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column; 
    font-size: 4vw;;
    color: white;
    height: 80vw;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
    url("https://images.unsplash.com/photo-1571091718767-18b5b1457add?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80");      
    background-repeat: no-repeat;
    background-size: cover;     
    margin-bottom: 1.4em;   
    margin-top: 7em;
}

/* ----------------- MAIN MENU -----------------*/

#menu, #complements, #social {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;    
    font-size: 4.5vw;
}

#title-menu, #title-complements, #title-who {
    width: 94%;
    height: 2.5em;
    font-size: 4vw;
    text-align: center;
    border: 0.2em solid var(--chocolate);
    color: var(--chocolate);
    margin: 0 auto;
    margin-bottom: 1em;
}

.container-menu-item {
    width: 94%;
    margin-bottom: 1em;
    border: 0.2em solid var(--chocolate);
    border-spacing: none;
    padding-bottom: 0.8em;
}

#title-single, #title-cheese, #title-mexican {    
    margin: 0 auto;
    padding-top: 0.5em;
    height: 3em;
    color: white;
    background-color: var(--chocolate);
}

#menu img {
    max-width: 100%;
    height: auto;
}

#menu p {
    font-size: 1em;
    font-weight: 500;
    text-align: justify;
    margin: 1em 1em;
}

/* ----------------- COMPLEMENTS MENU -----------------*/

.container-complements-item {
    width: 94%;
    margin-bottom: 1em;
}

#fries, #onion-rings, #nachos, #salad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    height: 70vw;
}

#titles-complements {
    color: white;
    width: 100%;
}

#fries {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.35),
        rgba(0, 0, 0, 0.35)
    ),
    url("https://images.unsplash.com/photo-1630384060421-cb20d0e0649d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=725&q=80");  
}

#onion-rings {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.35),
        rgba(0, 0, 0, 0.35)
    ),
    url("https://images.unsplash.com/photo-1637231854063-dcc3b5c4e8aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");  
}

#nachos {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.55),
        rgba(0, 0, 0, 0.55)
    ),
    url("https://images.unsplash.com/photo-1582169296194-e4d644c48063?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=700&q=80");  
}

#salad {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.58),
        rgba(0, 0, 0, 0.58)
    ),
    url("https://images.unsplash.com/photo-1468777675496-5782faaea55b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80");  
}

.checkbox-container {
    width: 1em;
    height: 1em;
    margin-bottom: 4.5em;
}

/* ----------------- WHO WE ARE (SOCIAL) -----------------*/

#social p {    
    font-size: 1em;
    font-weight: 500;
    text-align: justify;
    margin: 0 1em;
}

#heart {
    color: red;
}

#video {
    width: 96%;
    margin: 1em auto;
    height: 50vw;
}

#email {
    font-size: 4.5vw;
    margin-top: 1em;
    width: 92%;
    height: 2em;
}

/* ----------------- FOOTER -----------------*/

footer {
    margin-top: 3em;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 3.5vw;
    height: 2.3em;
    background-color: var(--chocolate);
    color: white; 
    overflow-y: hidden;
    padding-left: 1em;
}

@media (min-width: 1000px) {

    html {
        scroll-padding-top: 10vw;
    }

    header {      
        flex-direction: row;
        font-size: 1.6vw;
        align-items: center;
        height: 4em;
    }

    header h1 {
        margin: 0;
        padding-left: 1.2em;
    }

    header nav {
        margin-bottom: 0;
        text-align: center;
        padding-left: 29em;
    }

    header a {
        margin: 0;
        padding-right: 2em;
    }
    
    #hero {
        margin-top: 2.3em;
        height: 40vw;
        font-size: 1.5vw;
        background-position: center center;
    }

    #menu, #complements, #social {
        flex-direction: row;  
        font-size: 1.3vw;
        width: 93%;
        margin: 0 auto;
    }

    #title-menu, #title-complements, #title-who {
        width: 50%;
        font-size: 1.6vw;
        height: 2.5em;
        border: 0.4vw solid var(--chocolate);
        margin-top: 3em;
    }

    .container-menu-item {
        border: 0.4vw solid var(--chocolate);
        margin: 0 1em;
        margin-top: 2em;
        height: 48vw;
    }

    #menu img {
        height: 15em;
    }

    #buy-single {
        margin-top: 7vw;
    }

    #buy-cheese {
        margin-top: 5.2vw;
    }

    #buy-mexican {
        margin-top: 3.5vw;
    } 

    #complements {
        width: 91%;
    }

    .container-complements-item {
        margin-top: 2em;
        margin-bottom: 0;
        font-size: 1.1em;        
    }

    #fries, #onion-rings, #nachos, #salad {
        height: 30vw;
    }

    #social, #media {
        display: contents
    }

    #who-are-we{
        padding: 0 2em;
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 2em;
    }

    .social-container {
        width: 50%;        
        margin: 0 2em;
    }

    #who-text {
        padding: 3.2em 0;
        border: 0.4vw solid var(--chocolate);
    }

    #video {
        height: 17em;
    }  

    #media p {
        text-align: center;
        margin-bottom: 1em;
    }

    #email {
        width: 50%;
        font-size: 1.2vw;
    }

    footer {
        font-size: 1vw;
    }
}

@media (max-height: 400px) {

    html {        
        scroll-padding-top: 10.5vw;
    }

    header {
        font-size: 1.4vw;
    }

    #hero {
        font-size: 2vw;
        height: 48vw;
        margin-top: 3em;
    }

    #menu, #complements, #social { 
        width: 60%;
        margin: 0 auto;
        font-size: 1.8vw;
    }

    #menu img {
        height: 22em;
    }

    #title-menu, #title-complements, #title-who {
        font-size: 2vw;
        height: 2.5em;
    }

    #title-single, #title-cheese, #title-mexican {    
        font-size: 1.5vw;
    }

    #fries, #onion-rings, #nachos, #salad {
        height: 40vw;
    }

    #social {
        width: 90%;
    }

    #who-text {
        padding: 0 1em;
    }

    #video {
        height: 22em;
    }  

    #email {        
        font-size: 1.5vw;
    }

    footer {
        font-size: 1vw;
    }
}



